.container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px rgb(230, 223, 223);
  /* max-width: 375px; */
  /* max-width: fit-content; */
  margin: auto auto 12px auto;
  /* margin-bottom: 12px; */
  padding: 10px;
}
