.countContainer {
  border-radius: 10px;
  display: flex;
  font-weight: 800;
  justify-content: space-around;
  background-color: hsl(223, 19%, 93%);
  padding: 8px 0;
}
.addCount,
.minusCount {
  background-color: transparent;
}
button {
  display: inline-flex;
  align-items: center;
}
@media (min-width: 768px) {
  .countContainer {
    flex-direction: column;
    align-items: center;
    padding: 12px;
  }
  .addCount,
  .minusCount,
  .count {
    display: inline;
    margin: 4px;
  }
}
