/* @value colors: ".././colors.css";
@value primary from colors; */

.headerContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}
.avatarContainer {
  width: 30px;
}
.username {
  font-weight: 800;
  font-size: 1.125rem;
}
.replyButton {
  color: hsl(238, 40%, 52%);
  font-weight: 700;
}
.deleteButton {
  color: var(--primary-red);
  font-weight: 700;
}

.commentBody {
  color: var(--grayish-blue);
}

.commentFooter {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
  /* margin-bottom: 12px; */
}

.commentFooter .counter {
  width: 30%;
}
/* .commentFooter > * {
  width: 30%;
} */

.replyGroup {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.replyGroup > * {
  margin-left: 10px;
  background-color: white;
}

.replyBox {
  border-left: solid 1px rgb(224, 216, 216);
  padding: 0 0 0 12px;
  margin: auto auto 12px auto;
}
.counter {
  margin-top: 14px;
}

.mainContainer {
  margin: 14px 0;
}
.userButtonGroup {
  display: flex;
  /* flex-basis: 50%;
  min-width: 50%; */
}
@media (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 14px;
    position: relative;
  }
  .headerMain {
    flex-basis: 1;
    width: 90%;
  }
  .counter {
    width: auto;
    margin-top: 0;
  }
  .commentFooter {
    flex-basis: auto;
  }
  .userButtonGroup,
  .replyGroup2 {
    position: absolute;
    right: 4%;
    width: max-content;
    min-width: 0;
  }
}
