.headerContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}
.avatarContainer {
  width: 30px;
}
.avatar {
}
.username {
}
.userParagraph {
  font-weight: 600;
}

.commentBody {
  color: gray;
}

.commentFooter {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
  /* margin-bottom: 12px; */
}

.commentFooter > * {
  width: 30%;
}

.replyGroup {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.replyGroup > * {
  margin-left: 10px;
  background-color: white;
}

.replyBox {
  border-left: solid 1px rgb(224, 216, 216);
  padding: 0 0 0 12px;
  margin: auto auto 12px auto;
}

@media (min-width: 375px) {
  .replyBox {
    padding-left: 18px;
  }
}
@media (min-width: 768px) {
  .replyBox {
    margin: 0 0 0 36px;
    padding-left: 32px;
  }
}
